{
    "env": {
      "node": true,
      "es6": true
    },
    "globals": {
      "exampleGlobalVariable": true
    },
    "rules": {
      "arrow-body-style": 0,
      "object-curly-spacing": 0,
      "spaced-comment": 0,
      "no-console": 0,
      "comma-dangle": 0,
      "no-throw-literal": 0,
      "no-use-before-define": 0,
      "max-len": [
        "error",
        200
      ],
      "brace-style": [
        "error",
        "stroustrup"
      ],
      "no-trailing-spaces": ["error", { "skipBlankLines": true }],
      "no-param-reassign": ["error", {"props": false}],
      "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
      "object-shorthand": ["error", "methods"]
  },
    "plugins": [ ],
    "extends": "airbnb/base"
  }
  